---
import Layout from '@/layouts/Layout.astro';

export const prerender = false;

const pages = [
	{
		slug: 'ferrari',
		title: 'Ferrari F1 Equipo',
		text: 'Ferrari la mejor escudería'
	},
	{
		slug: 'redbull',
		title: 'RedBull F1 Equipo',
		text: 'RedBull la mejor escudería'
	}
];

const { equipo } = Astro.params;
const page = pages.find((page) => page.slug === equipo);
if (!page) return Astro.redirect('/404');
const { title, text } = page;
---

<Layout title={title}>
	<h1>{title}</h1>
	<h1>{text}</h1>
</Layout>
