---
import F1Image from '@/assets/F1Image.astro';
import Lang from '@/components/header/Lang.astro';
import LiHeader from '@/components/header/LiHeader.astro';
import Theme from '@/components/header/Theme.astro';

import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { getRelativeLocaleUrl } from 'astro:i18n';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const HEADER = [
	{
		id: 1,
		text: 'drivers'
	},
	{
		id: 2,
		text: 'teams'
	},
	{
		id: 3,
		text: 'chamTeam'
	},
	{
		id: 4,
		text: 'chamDriver'
	}
];

const first = HEADER.slice(0, 2);
const second = HEADER.slice(2);
---

<header
	class="flex h-fit w-full items-center justify-center bg-yellow-500 dark:bg-purple-400"
	transition:name="header"
>
	<div class="flex h-fit w-[90%] items-center justify-center bg-gray-600">
		<a href={getRelativeLocaleUrl(lang, '/')} class="flex w-[15%] items-center justify-center py-2">
			<F1Image fill="fill-theme-f1Red" width="160" height="40" />
		</a>
		<ul class="flex w-[70%] gap-1 text-center">
			{
				first.map((item) => (
					<LiHeader
						href={t(`header.${item.text}Url` as 'header.drivers' | 'header.teams')}
						text={t(`header.${item.text}` as 'header.drivers' | 'header.teams')}
					/>
				))
			}
			{
				second.map((item) => (
					<LiHeader
						href={t(`header.${item.text}Url` as 'header.drivers' | 'header.teams')}
						text={t(`header.${item.text}` as 'header.drivers' | 'header.teams')}
					/>
				))
			}
		</ul>
		<div class="flex w-[15%] items-center justify-center bg-orange-500">
			<Lang />
			<Theme />
		</div>
	</div>
</header>
